@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Roboto&display=swap');

:root {
    --color-back:#ced8e1;
    --color-dark: #102b3e;
    --color-content: #6964e2;
    --font-main: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-back);
}

/* Navbar */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color-back);
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

header .logo {
    background-color: var(--color-dark);
    width: 120px;
    height: 50px;
    border-radius: 15px;
}

header .menu {
    display: flex;
    flex-direction: column;
    color: var(--color-content);
    text-align: center;
    align-items: center;
}

header .menu .menu-smll ,
header .menu .menu-big {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

header .menu .menu-smll {
    margin-left: auto;
}

header .menu .menu-smll li a,
header .menu .menu-big li a {
    text-decoration: none;
    color: var(--color-content);
    padding: 10px;
}

header .menu .menu-smll li:hover a ,
header .menu .menu-big li:hover a {
    color: var(--color-dark);
    transition: all 1s linear;
}