@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&display=swap');

:root{
    --color01: #FFFFFF;
    --color02: #FBF37C;
    --color03: #7F7F7F;
    --color04: #58555A;
    --color05: #000000;

    --standart: Arial, Helvetica, sans-serif;
    --yBold: 'Comfortaa', cursive;
}

body{
    background-color: var(--color02);
    font-family: var(--yBold);
}