@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&display=swap');

:root{
    --color01: #FFFFFF;
    --color02: #FBF37C;
    --color03: #7F7F7F;
    --color04: #58555A;
    --color05: #000000;

    --standart: Arial, Helvetica, sans-serif;
    --yBold: 'Comfortaa', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--color02);
    font-family: var(--standart);
}

/*Reader Settings*/

header{
    min-width: 150px;
    background-image: linear-gradient(to bottom, var(--color03), var(--color04));
    padding-top: 40px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);
}

header h1{
    color: var(--color01);
    text-align: center;
    font-family: var(--yBold);
    font-size: 3em;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.274);
    margin-bottom: 30px;
}

header p {
    color: var(--color01);
    text-align: center;
    font-family: var(--standart);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.274);
    font-size: 1.3em;
    margin-bottom: 15px;
}

header nav{
    text-decoration: none;
    padding: 10px;
    display: block;
}

header nav > a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: var(--color01);
    border-radius: 10px;
    transition-duration: 0.5s;
}

header nav > a:hover {
    background-color: var(--color02);
    color: var(--color04);
}

/* Main Settings*/

main{
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--color01);
}